/* HTML Selectors */
* {
  box-sizing: border-box;
}

a:link {
  color: grey;
}

a:visited {
  color: grey;
}

a:active {
  color: rgba(128, 128, 128, 0.715);
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  padding: 0;
}

/* Class Selectors */
.card {
  display: flex;
  padding-bottom: 40px;
}

.card-city {
  margin-bottom: 0;
  margin-top: -10px;
}

.card-city-details {
  max-width: 600px;
}

.card-country {
  margin-right: 10px;
}

.card-dates-visited {
  font-weight: 600;
}

.card-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-photo {
  border-radius: 10px;
  height: 300px;
  max-width: 200px;
  object-fit: none;
  object-position: 50%;
  margin-right: 20px;
}

.cards-list {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-top: 70px;
}


.card-location-info {
  align-items: center;
  display: flex;
}

.nav {
  background-color: #f15b5a;
  color: white;
  display: flex;
  justify-content: center;
  height: 70px;
  width: 100vw;
}

.nav-img {
  max-width: 35px;
  margin-right: 10px;
}

/* ID selectors */